<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde versioWn="4.8"?>
<target name="jdt-ls-client" sequenceNumber="1">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
		<!-- Actually required by JDT-LS, but marked as optional,
		# Workaround https://github.com/eclipse/eclipse.jdt.ls/issues/2429 -->
		<unit id="org.eclipse.buildship.feature.group" version="0.0.0"/>
		<!-- Explicit version to have different versions of LSP4J -->
		<unit id="org.eclipse.lsp4j" version="0.20.1.v20230228-1531"/>
		<unit id="org.apache.commons.compress" version="1.22.0.v20221207-1049"/>
		<repository location="http://download.eclipse.org/releases/2023-03/"/>
	</location>
	<!-- Actually required by JDT-LS, but marked as optional,
	# Workaround https://github.com/eclipse/eclipse.jdt.ls/issues/2429 -->
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.m2e.logback.feature.feature.group" version="0.0.0"/>
		<unit id="ch.qos.logback.classic" version="0.0.0"/>
		<repository location="https://download.eclipse.org/technology/m2e/snapshots/latest/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
		<unit id="org.eclipse.jdt.apt.core" version="0.0.0"/>
		<unit id="org.eclipse.jdt.apt.pluggable.core" version="0.0.0"/>
		<unit id="org.eclipse.platform.ide" version="0.0.0"/>
		<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
		<!-- Automated tests -->
		<unit id="junit-jupiter-api" version="0.0.0"/>
		<unit id="junit-jupiter-engine" version="0.0.0"/>
		<!-- Facilitate manual testing -->
		<unit id="org.eclipse.jdt.ui" version="0.0.0"/>
		<unit id="org.eclipse.jdt.core.manipulation" version="0.0.0"/>
		<!-- For local testing in IDE -->
		<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
		<unit id="org.mockito.mockito-core" version="0.0.0"/>
		<!-- transitive dep of LSP4J -->
		<unit id="com.google.gson" version="2.10.1"/>
		<unit id="org.mockito.mockito-core" version="0.0.0"/>
		<repository location="https://download.eclipse.org/eclipse/updates/4.28-I-builds/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.jdt.ls.core" version="0.0.0"/>
		<repository location="https://download.eclipse.org/jdtls/snapshots/repository/latest/"/>
	</location>
	<!-- Next are workarounds for JDT-LS repo not embedding deps and not setting proper ranges -->
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.lsp4j" version="0.0.0"/>
		<unit id="org.eclipse.lsp4j.jsonrpc" version="0.0.0"/>
		<repository location="https://download.eclipse.org/lsp4j/updates/releases/0.20.1/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.lsp4e" version="0.0.0"/>
		<unit id="org.eclipse.lsp4e.debug" version="0.0.0"/>
		<repository location="https://download.eclipse.org/lsp4e/snapshots/"/>
	</location>
	<location includeDependencyDepth="none" includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.microsoft.java</groupId>
				<artifactId>com.microsoft.java.debug.plugin</artifactId>
				<version>0.44.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>