<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="com.redhat.eclipseide.jdtlsclient.InProcessJDTLSConnectionProvider"
            clientImpl="com.redhat.eclipseide.jdtlsclient.JDTLSLanguageClient"
            id="com.redhat.eclipseide.jdtlsclient.inProcessServer"
            label="JDT-LS (in process)"
            singleton="true"/>
      <contentTypeMapping
            contentType="org.eclipse.jdt.core.javaSource"
            id="com.redhat.eclipseide.jdtlsclient.inProcessServer"
            languageId="java">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="com.redhat.eclipseide.jdtlsclient.classWithSource"
            id="com.redhat.eclipseide.jdtlsclient.inProcessServer"
            languageId="java">
      </contentTypeMapping>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.jdt.core.javaSource"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="com.redhat.eclipseide.jdtlsclient.classWithSource"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="grammars/java.tmLanguage.json"
            scopeName="source.java">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.jdt.core.javaSource"
            scopeName="source.java">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="com.redhat.eclipseide.jdtlsclient.classWithSource"
            scopeName="source.java">
      </scopeNameContentTypeBinding>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.jdt.core.javaSource">
      </presentationReconciler>
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="com.redhat.eclipseide.jdtlsclient.classWithSource">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.jdt.core.javaSource"
            path="grammars/java.languageConfiguration.jsonc">
      </languageConfiguration>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="com.redhat.eclipseide.jdtlsclient.FilterJDTLSProjectInNavigator"
            id="com.redhat.eclipseide.jdtlsclient.filter.jdtlsproject"
            name="JDT-LS internal project"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.redhat.eclipseide.jdtlsclient.filter.jdtlsproject">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="jdt">
         <run
               class="com.redhat.eclipseide.jdtlsclient.JDTFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="class"
            id="com.redhat.eclipseide.jdtlsclient.classWithSource"
            name="Class (source)"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.icons">
      <icon
            contentType="org.eclipse.jdt.core.javaSource"
            icon="icons/javaSourceEditorIcon.png">
      </icon>
      <icon
            contentType="com.redhat.eclipseide.jdtlsclient.classWithSource"
            icon="icons/javaClassEditorIcon.png">
      </icon>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <category
            description="Commands supported by JDT Language Server"
            id="com.redhat.eclipseide.jdtlsclient.commandCategory"
            name="JDT-LS commands">
      </category>
      <command
            categoryId="com.redhat.eclipseide.jdtlsclient.commandCategory"
            id="com.redhat.eclipseide.jdtlsclient.java.edit.organizeImports"
            name="Organize Imports">
      </command>
      <command
            id="com.redhat.eclipseide.jdtlsclient.debugwithvscode"
            name="Debug with VSCode Java Debug Adapter">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.redhat.eclipseide.jdtlsclient.debug.DebugWithJavaAdapterHandler"
            commandId="com.redhat.eclipseide.jdtlsclient.debugwithvscode"/>
      <handler
            class="com.redhat.eclipseide.jdtlsclient.commands.OrganizeImportsHandler"
            commandId="com.redhat.eclipseide.jdtlsclient.java.edit.organizeImports"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.redhat.eclipseide.jdtlsclient.java.edit.organizeImports"
            contextId="org.eclipse.ui.genericeditor.genericEditorContext"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu label="Debug Actions">
            <command
                  commandId="org.eclipse.debug.ui.commands.ToggleLineBreakpoint"
                  style="push"/>
            <command
               commandId="org.eclipse.debug.ui.commands.RunToLine"
               style="push"/>
            <command
               commandId="org.eclipse.jdt.debug.ui.commands.Inspect"
               style="push"/>
            <command
                  commandId="org.eclipse.jdt.debug.ui.commands.Execute"
                  style="push"/>
            <command
                  commandId="org.eclipse.debug.ui.actions.WatchCommand"
                  style="push"/>
         </menu>
      </menuContribution>
   </extension>
</plugin>
